<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../../modules/images/logo_login.png">
    @RenderSection("css", false)
</head>
<body>
    @{
        CloudSalesEntity.Users CurrentUser = (CloudSalesEntity.Users)Session["ClientManager"];
        string controller =  Url.RequestContext.RouteData.Values["controller"].ToString().ToUpper();
        string action = Url.RequestContext.RouteData.Values["action"].ToString().ToUpper();
        CloudSalesEntity.Menu controllerMenu = ExpandClass.GetController(HttpContext.Current, controller);
    }
    <header>
        <div class="logo left">
            <a href="/Home/Index"><img src="/modules/images/ico-home.png" /></a>
        </div>
         <div class="left companyName" title="上海云销信息科技有限公司">
            上海云销信息科技有限公司
        </div>
        <ul id="modulesMenu" class="menu left">
            @foreach (CloudSalesEntity.Menu model in ExpandClass.GetChildMenuByCode(HttpContext.Current, ExpandClass.CLIENT_TOP_CODE))
            { 
                <li class="left" data-code="@(model.MenuCode)">
                    <a class="@(model.MenuCode.ToUpper()==controllerMenu.PCode.ToUpper() ? "select" : "")" href="/@(model.Controller)/@(model.View)">
                        <img data-ico="@(model.IcoPath)" data-hover="@(model.IcoHover)" src="@(model.IcoPath)" /> 
                        <span>@(model.Name)</span>
                    </a> 
                </li>
            }
        </ul>
        <div id="currentUser" class="currentuser right">
            <span>
                <img src="@(string.IsNullOrEmpty(CurrentUser.Avatar)?"/modules/images/defaultavatar.png":CurrentUser.Avatar)" class="avatar" />
            </span>
            <span class="username">
                @(CurrentUser.Name)
            </span>
            <span class="dropdown">
                <span class="dropdown-top"></span>
                <span class="dropdown-bottom"></span>
            </span>
        </div>
    </header>
    <div class="main-body">
        <nav>
            @*<div class="top-nav">
                <span class="controller-name">功能菜单</span>
            </div>*@
            @foreach (CloudSalesEntity.Menu model in ExpandClass.GetChildMenuByCode(HttpContext.Current, controllerMenu.PCode))
            { 
                <div class="controller @(model.Controller.ToUpper()==controller ? "select" : "")">
                    <div class="controller-box">
                        <div class="controller-name">
                            <span class="name left">@(model.Name)</span>
                            <span class="open left @(model.Controller.ToUpper()==controller ? "rotate" : "")"></span>
                        </div>
                    </div>
                    
                    <ul class="action-box @(model.Controller.ToUpper()==controller ? "" : "hide")">
                        @foreach (CloudSalesEntity.Menu view in ExpandClass.GetChildMenuByCode(HttpContext.Current, model.MenuCode))
                        {
                            <li class="action @(view.View.ToUpper()==action ? "select" : "")">
                                <a href="/@(view.Controller + "/" + view.View)" >@(view.Name)</a>
                            </li>
                        }
                     </ul>
                </div>
            }
        </nav>
        <div class="main-content">
            @RenderBody()
        </div>
    </div>
    <div class="bottom-body">
        <div class="bottom-main">
            <div class="modules" id="choosemodules">
                <div class="ico-menu">
                    我的收藏
                </div>
                <div class="open-modules">
                    隐藏
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    @*点击头像展开下拉列表*@
    <div class="dropdown-userinfo hide">
        <div class="top-lump"></div>
        <ul class="items-list">
            <li class="item"><a href="/Home/Logout">安全退出</a></li>
        </ul>
    </div>

    @*点击公司名称展开下拉列表*@
    <div class="dropdown-companyinfo hide">
        <div class="top-lump"></div>
        <ul class="items-list">
            <li class="item"><a href="/System/Client">编辑公司</a></li>
            <li class="item pTop5" style="border:none;"><a onclick="location.href='/Auction/BuyNow';" class="btn">立即购买</a></li>
        </ul>
    </div>

    <div class="feedback">意见反馈</div>

    <input id="feedback-filepath" type="hidden" />
    <input id="txt_username" value="@CurrentUser.Name" type="hidden" />
    <input id="txt_usermobilephone" value="@CurrentUser.MobilePhone" type="hidden" />
    <script type="text/javascript" src="/Scripts/sea.js"></script>
    <script type="text/javascript" src="/Scripts/sea-config.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/layout"], function (layout) {
            layout.init();
        });
    </script>
    @RenderSection("scripts", false)
</body>
    
</html>
