@{
    ViewBag.Title = "客户详情";
}
<link href="/modules/css/clients.css" rel="stylesheet" />

<script src="/modules/plug/laydate/laydate.js"></script>
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/clients"], function (client) {
            client.detailInit('@ViewBag.ID');
        });

        laydate.skin('default');//切换皮肤，请查看skins下面皮肤库
        $(function () {
            var end = {
                elem: '#endTime',
                format: 'YYYY-MM-DD',
                min: laydate.now(),
                max: '2099-06-16',
                istime: false,
                istoday: false
            };
            laydate(end);
        });
        
    </script>
}

<div class="clientnav">
    <ul>
        <li class="navactive" BindIndex="0">客户详情</li>
        <li BindIndex="1">授权</li>
        <li BindIndex="2">日志</li>
        <li BindIndex="3">订单</li>
        <li BindIndex="4">账单</li>
        <div class="clear"></div>
    </ul>
</div>

<ul class="contentnew" style="display:block;">
    <li>
        <span class="columnname">公司名称：</span>
        <span><input type="text" id="name" class="verify" data-empty="公司名称不能为空!" /></span>
    </li>
    <li>
        <span class="columnname">联系人：</span>
        <span><input type="text" id="contact" class="verify" data-empty="联系人不能为空!" /></span>
    </li>
    <li>
        <span class="columnname">联系电话：</span>
        <span><input type="text" id="mobile" class="verify" data-type="mobile" maxlength="11" data-text="格式不正确!" data-empty="电话不能为空!" /></span>
    </li>
    <li>
        <span class="columnname">行业：</span>
        <span>
             <select id="industry">
                @foreach (CloudSalesEntity.Industry model in (List<CloudSalesEntity.Industry>)ViewBag.Industry)
                {
                    <option value="@(model.IndustryID)" data-name="@(model.Name)">@(model.Name)</option>
                }
                <option value="">其他行业</option>
            </select>
        </span>
         <span id="otherIndustry" class="hide">
            名称：
            <input type="text" id="industryName" /><a href="javascript:void(0)" id="saveIndustry" class="btnS mLeft10 hide">保存</a>
        </span>
    </li>
    <li>
        <span class="columnname">地址：</span>
        <span id="citySpan">
            
        </span>
    </li>
    <li>
        <span class="columnname"></span>
        <span><input type="text" placeholder="详细地址..." class="width300" id="address" /></span>
    </li>

    @*<li>
        <span class="columnname">模块：</span>
        
        @foreach (CloudSalesEntity.Modules model in (List<CloudSalesEntity.Modules>)ViewBag.Modules)
        {
            <span class="direction modules-item" title="@(model.Description)" data-value="@(model.ModulesID)">@(model.Name)</span>
        }
    </li>*@
    <li>
        <span class="columnname">备注：</span>
        <span><textarea id="description"></textarea></span>
    </li>
    <li>
        <div class="mTop20 mLeft80">
            <input type="button" id="saveClient" class="btn" value="保存" />
        </div>
    </li>
</ul>

<ul class="contentnew">
    <li>
        <span class="columnname">授权人数：</span>
        <span><input type="text" style="width:50px;" id="userQuantity"  class="verify" data-empty="授权人数不能为空!" /></span>
    </li>
    <li>
        <span class="columnname">授权类型：</span> 
        <select style="cursor:pointer;" id="authorizeType">
            <option value="-1">选择授权类型</option>
            <option value="1">试用</option>
            <option value="2">付费</option>
        </select>
    </li>
    <li>
        <span class="columnname">到期时间：</span>
        <span><input type="text" id="endTime"    maxlength="11"   /></span>
    </li>
     <li>
        <div class="mTop20 mLeft80">
            <input type="button" id="saveClientAuthorize" class="btn" value="授权" />
        </div>
    </li>
</ul>

<div class="contentnew">
    <table class="table-list mTop20">
        <tr class="tr-header" id="client-header">
            <td class="">授权类型</td>
            <td class="">授权人数</td>
            <td class="">结束时间</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>
<input type="hidden" id="clientID" value="@ViewBag.ID" />

